*{
	padding: 0;
	margin: 0;
}
.tieude{
	width: 100%;
	background: #292a2c;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	z-index: 100000;
}
.tieude .col-md-10 ul{
	position: relative;
	left: 300px;
}
.tieude .col-md-10 ul li{
	list-style-type: none;
	display: inline-block;
}
.tieude .col-md-10 ul a{
	padding: 20px 10px;
	color: white;
	font-size: 20px;
	text-decoration: none;
}
.tieude .col-md-10 ul a:hover{
	color: #bc914d;
}
.tieude .col-md-10 ul{
	padding: 22px;
}
.tieude .col-md-2 h4{
	color: white;
	font-family: "Times New Roman";
	font-size: 24px;
	text-align: center;
	color: #bc914d;
}
.backg-loaiphong img{
	width: 100%;
	height: 400px;
}
.backg-loaiphong p{
	color: white;
	top: -300px;
	z-index: 100000;
	text-align: center;
	padding: 20px 20px;
	font-size: 25px;
}
.backg-loaiphong .text-loai{
	position: relative;
	top: -230px;
	border: 1px solid white;
	margin: 30px 650px;
}
.backg-loaiphong{
	border: 1px solid black;
	height: 400px;
}
.container{
	margin-top: 50px;
}
.container .col-md-6 label{
	font-size: 20px;
}
.container .a{
	margin-top: -60px;
	margin-bottom: 100px;
}
.container .b{
	margin-top: 150px;
}
.container .a .col-md-6 input{
	width: 100%;
	font-size: 20px;
	margin: 10px;
	margin-left: 0px;
	padding: 5px;
	border: 1px solid black;
}
.container .b .col-md-6 input{
	width: 100%;
	font-size: 20px;
	margin: 10px;
	margin-left: 0px;
	padding: 5px;
	border: 1px solid black;
}
.container .col-md-6 select{
	width: 100%;
	font-size: 20px;
	margin: 10px;
	margin-left: 0px;
	padding: 5px;
	border: 1px solid black;
	height: 40px;
}
.chon-phong {
	height: 100px;
}
.chon-phong table th{
	text-align: center;	
}
.chon-phong table{
	position: relative;
	top: 30px;
	text-align: center;
	width: 530px;
	font-size: 20px;
	margin-left: 290px;
	height: 100px;
}

.gui button{
	font-size: 20px;
	padding: 10px 30px;
	background-color: #ba8f4d;
	color: white;
	margin: 30px;
}
.gui{
	margin-top: 320px;
}
.final{
	background-color: #292a2c;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 30px;
}
.final h3{
	text-align: center;
}
