*{
	padding: 0;
	margin: 0;
}
.fa-user-tie{
	font-size: 30px;
	color: white;
	padding-right: 10px;
}
.fa-sign-out-alt{
	padding-right: 5px;
}
.fa-user{
	padding-right: 5px;
}
.title .col-md-10 .dangnhap{
	width: 80px;
	position: relative;
	top: 15px;
	left: 1130px;
	color: white;
	height: 50px;
}
.dropdown-toggle{
	background-color: #3c8dbc;
}
.dropdown-toggle:hover{
	background-color: #ffa026;
}
.dropdowm-toggle li{
	color: black;
}
.dropdown-user{
	margin-left: -50px;
}
.title{
	background-color: #3c8dbc;
	height: 80px;
	width: 100%;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	z-index: 100000;
}
.title .col-md-2 h3{
	font-size: 23px;
	text-align: center;
	font-weight: bold;
	font-family: Time new roman;
	color: white;
}
.content .col-md-2{
	background-color: #3c8dbc;
	padding: 0;
	height: 100%;
	position: fixed;
	left: 0;
	z-index: 100000;
}
.content .col-md-2 ul{
	background-color: #3c8dbc;
	list-style-type: none;
	list-style-position: outside;
	display:block;
}
.content .col-md-2 li{
	border-bottom: 1px solid white;
	width: 100%;
	height: 60px;
	font-size: 18px;
	font-weight: bold;	
	padding:14px 12px;
}
.content .col-md-2 li a{
	text-decoration: none;
	color: white;
}
.content .col-md-2 li:hover{
	background-color: #ffa026;
}
.content{
	margin-left: 0;	
	width: 100%;
	height: 100%;
	margin-top: 80px;
}
.content .col-md-10{
	margin-left: 256px;
}
.content .col-md-10 .ngay{
	margin-top: 15px;
}
#nut-xemThongKe{
	position: relative;
	top: -50px;
	left: 850px;
}
.col-xs-1 button{
	margin-left: -30px;
}